body {
  margin: 0;
  background-color: rgb(25, 25, 25);
  font-family: sans-serif;
  color: white;
}

#tab-bar {
  display: flex;
  background-color: rgb(40, 40, 40);
  padding: 5px;
  height: 40px;
  align-items: center;
  user-select: none;
}

.tab {
  background-color: rgb(60, 60, 60);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #ccc;
  position: relative;
}

.tab.active {
  background-color: rgb(70, 70, 70);
  color: white;
}

#add-tab-btn {
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: grey;
}

.close-btn {
  margin-left: 8px;
  color: grey;
  cursor: pointer;
  font-weight: bold;
}

#context-menu {
  position: absolute;
  background-color: rgb(50, 50, 50);
  border: 1px solid rgb(80, 80, 80);
  color: white;
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

#context-menu.hidden {
  display: none;
}

#context-menu div {
  padding: 5px 10px;
  cursor: pointer;
}

#context-menu div:hover {
  background-color: rgb(70, 70, 70);
}

#editor-container {
  background-color: rgb(25, 25, 25);
}
